{% extends 'base.html' %}
{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="admin">Admin</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="admin">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/brand">brands</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/admin/category">categories</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown link
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
<div class="container">
    <table class="table table.sm">
        <thead>
            <th>Sr</th>
            <th>Name</th>
        
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if brands %}
            {% for brand in brands %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{brand.name}}</td>
                
             
                <td><a href="{{url_for('brand.updatebrand', id=brand.id)}}">Edit</a></td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{brand.id}}">Delete</td>
                </button>
                <!--<td><a href="{{url_for('brand.deletebrand', id=brand.id)}}"  >Delete</a></td>-->
            </tr>
            <!-- Button trigger modal -->


<!-- Modal -->
 <div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{brand.name}}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span class="text-danger">Are you sure you want delete this brand {{brand.name}}</span>
       </div>
       <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{url_for('brand.deletebrand', id=brand.id)}}" method="POST">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            </div>
          </div>
        </div>
  </div>
            {% endfor %}
            {% else %}

            {% for category in categories %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{category.name}}</td>
                
             
                <td><a href="{{url_for('brand.deletecat', id=category.id)}}">Edit</a></td>
                <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-{{category.id}}">Delete</td>
                </button>
            </tr>
            <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{category.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="text-danger">Are you sure you want delete this brand {{category.name}}</span>
                 </div>
                 <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <form action="{{url_for('brand.deletecat', id=category.id)}}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </form>
                      </div>
                    </div>
                  </div>
            </div>
            {% endfor %}
            {% endif %}
            
        </tbody>
    </table>
</div>

{% endblock %}

