{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <h1 class="bg-info text-center">Register</h1>
        </div>
    
    </div>
    <form method='POST' action="/register">

        {{form.csrf_token}}
        <div class="row">
        
            <div class="col-md-2"></div>
            <div class="col-md-4">
            
                
                {{ render_field(form.name, class='form-control') }}
                {{ render_field(form.username, class='form-control') }}
                {{ render_field(form.email, class='form-control') }}
                {{ render_field(form.password, class='form-control') }}
                {{ render_field(form.confirm, class='form-control') }}
                <input type="file" name="photo">
                
                
                
            </div>
            <div class="col-md-4" style="float: right;">

                {{ render_field(form.country, class='form-control') }}
                {{ render_field(form.state, class='form-control') }}
                {{ render_field(form.city, class='form-control') }}
                {{ render_field(form.address, class='form-control') }}
                {{ render_field(form.contact, class='form-control') }}
                {{ render_field(form.zipcode, class='form-control') }}
                <p><input type=submit value=Register class="btn btn-info"></p>
                
            </div>
           
           <div class='col-md-2'></div>
        
        </div>
    </form>

         

</div>    

{% endblock %}